#main_navbar{
    background-color: black;
    position:sticky;
    display:flex;
    width:100%;
    height:auto;

}

.navbar_links{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color:white;
    margin-top: 20px;
   
}


#navbar_list{
    list-style-type:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li{
    margin:0px 30px 0 30px;
    display:inline-block;
    align-items: end;
    padding: 5px;

}

